<div class="col-md-12">
    <div class="col-md-12 title">
        <h1>Orders</h1>
    </div>
    <div class="col-md-4 combo-box dropdown">
        <div class="row dropdown-row">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedStatus }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let status of statuses" (click)="setStatus(status)">{{ status.name }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th scope="col">Order Id</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Items Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Created on</th>
                <th scope="col">Auth Date</th>
            </thead>
            <tbody>
                <tr class="order-row" *ngFor="let order of orders" [routerLink]="['orderDetail', order.Id]">
                    <th scope="row">{{ order.Id }}</th>
                    <td>{{ order.Description }}</td>
                    <td>{{ getStatusName(order.StatusNum) }}</td>
                    <td>{{ order.ItemsQuantity }}</td>
                    <td>${{ order.TotalAmount }}</td>
                    <td>{{ order.CreatedOn }}</td>
                    <td>{{ order.AuthDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>