<div class="col-md-12">
    <div class="col-md-4 combo-box dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ selectedStatus }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let status of statuses" (click)="setStatus(status)">{{ status.name }}</a>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th scope="col">Order Id</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Items Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Created on</th>
                <th scope="col">Auth Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders" [routerLink]="['orderDetail', order.orderId]">
                    <th scope="row">{{ order.orderId }}</th>
                    <td>{{ order.orderDescription }}</td>
                    <td>{{ order.orderStatus }}</td>
                    <td>{{ order.qitems }}</td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.createdOn }}</td>
                    <td>{{ order.authDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>