.title  {
    margin-top: 1rem;
    h1 {
        text-align: center;
    }
}

.error-msg {
    margin-top: 4rem;
    .row {
        text-align: center;
    }
    .order-button {
        margin-top: 2rem;
    }
}

.order-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.btn-cont {
    margin-top: 1rem;
    margin-bottom: 1rem;
}